<h2>Les armes</h2>
<!-- Liste des héros -->
<a class="btn btn-info" routerLink="/weapons/new">Créer une arme</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">
      <button type="button" class="btn btn-link" (click)="setSort( 'name' )">
        Nom {{ sortBy === 'name' ? (sortDirection === 'desc' ? '-' : '+') : '' }}
      </button>
    </th>
    <th scope="col">
      <button type="button" class="btn btn-link" (click)="setSort( 'attaque' )">
        Attaque {{ sortBy === 'attaque' ? (sortDirection === 'desc' ? '-' : '+') : '' }}
      </button>
    </th>
    <th scope="col">
      <button type="button" class="btn btn-link" (click)="setSort( 'pv' )">
        PV {{ sortBy === 'pv' ? (sortDirection === 'desc' ? '-' : '+') : '' }}
      </button>
    </th>
    <th scope="col">
      <button type="button" class="btn btn-link" (click)="setSort( 'degats' )">
        Degats {{ sortBy === 'degats' ? (sortDirection === 'desc' ? '-' : '+') : '' }}
      </button>
    </th>
    <th scope="col">
      <button type="button" class="btn btn-link" (click)="setSort( 'esquive' )">
        Esquive {{ sortBy === 'esquive' ? (sortDirection === 'desc' ? '-' : '+') : '' }}
      </button>
    </th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let weapon of weapons">
    <td>
      <a routerLink="/weapon-detail/{{weapon.id}}">
        {{weapon.name}}
      </a>
    </td>
    <td>
      {{weapon.attaque}}
    </td>
    <td>
      {{weapon.pv}}
    </td>
    <td>
      {{weapon.degats}}
    </td>
    <td>
      {{weapon.esquive}}
    </td>
    <td>
      <button class="btn btn-danger" (click)="delete(weapon.id)">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
