<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div>
    <label>Name:
      <input [(ngModel)]="hero.name" placeholder="Nom"/>
    </label><br>
    <label>Attaque:
      <input type="number" min="0" [(ngModel)]="hero.attaque" placeholder="0"/>
    </label><br>
    <label>Dégats:
      <input type="number" min="0" [(ngModel)]="hero.degats" placeholder="0"/>
    </label><br>
    <label>Esquive:
      <input type="number" min="0" [(ngModel)]="hero.esquive" placeholder="0"/>
    </label><br>
    <label>PV:
      <input type="number" min="0" [(ngModel)]="hero.pv" placeholder="0"/>
    </label><br>
  </div>
  <button (click)="goBack()">Retour à la liste</button>

</div>

