<h2>{{weapon.name}}</h2>
<div class="container-fluid">
  <p>La somme des statistiques doit être égal à 0 </p>
  <p>Somme des statistiques : {{restant}} </p>
  <form [formGroup]="formWeapon" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>
        Nom
        <input class="form-control"  formControlName="nom" [(ngModel)]="weapon.name">
      </label>
    </div>
    <div class="form-group">
      <label>
        Attaque
        <input step="1" type="number" min="-5" max="5" class="form-control" [(ngModel)]="weapon.attaque"
               formControlName="attaque">
      </label>
    </div>
    <div class="form-group">
      <label>
        Dégats
        <input type="number" min="-5" max="5" class="form-control" [(ngModel)]="weapon.degats" formControlName="degats">
      </label>
    </div>
    <div class="form-group">
      <label>
        Esquive
        <input type="number" min="-5" max="5" class="form-control" [(ngModel)]="weapon.esquive"
               formControlName="esquive">
      </label>
    </div>
    <div class="form-group">
      <label>
        PV
        <input type="number" min="-5" max="5" class="form-control" [(ngModel)]="weapon.pv" formControlName="pv">
      </label>
    </div>
    <button *ngIf="restant == 0" type="submit" name="creer" [disabled]="!formWeapon.valid">Modifier</button>
  </form>
</div>

