<h2>Nouveau héro</h2>
<div>
  <form [formGroup]="formHero" (ngSubmit)="onSubmit()">
    <label>
      Nom:
      <input type="text" formControlName="nom"/>
    </label><br>
    <label>
      Attaque:
      <input type="number" formControlName="attaque"/>
    </label><br>
    <label>
      Esquive:
      <input type="number" formControlName="esquive"/>
    </label><br>
    <label>
      Dégats:
      <input type="number" formControlName="degats"/>
    </label><br>
    <label>
      Point de vie:
      <input type="number" formControlName="pv"/>
    </label><br>
    <button type="submit" [disabled]="!formHero.valid">Créer</button>
  </form>
</div>

